.App {
  text-align: center;
  background-color: bisque;
}

.Posts{
  background-color:lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  border-radius: 6px;
  color:black;
  background-color:white;
  padding: 25px;
  margin-top: 15px;
  height:max-content ;
  width:max-content ;
}
img{
  max-width: 200px;
  max-height: 265px;
}

